<div class="container__inscription">
    <form [formGroup]="form" class="inscription__form" (ngSubmit)="onSubmit()">
        <h3>Créer un compte</h3>
        <div class="champ__nom">
            <input type="text" formControlName="nom" placeholder="Nom">
            <input type="text" formControlName="prenom" placeholder="Prenom">
        </div>
        <input type="email" formControlName="email" placeholder="Email">
        <input type="password" formControlName="password" placeholder="Mot de passe">
        <select formControlName="type">
            <option value="proprietaire">Propriétaire</option>
            <option value="client">Client</option>
        </select>
        <button type="submit">S'inscrire</button>
    </form>
</div>
