.logo{
    width: 60px;
    height: 40px;
}


.inscription{
    background-color: #2F2F2F;
    border-radius: 50px;
    text-align: center;
    width: 100px;
}

.inscription > a{
    color: #E8E9E3;
}


/* tablet */
@media screen and (min-width: 768px){
    .logo{
        width: 80px;
        height: 60px;
    }
}

/* desktop */
@media screen and (min-width: 1025px){
    .nav-centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
        display: flex;
        align-items: center;
    }


}