<section class="hero">
    <div class="hero__content">

        <div class="hero__text">
            <h1 class="hero-content__title">ImmauWeb</h1>
            <h2 class="hero-content__subtitle">Trouvez le bien qui vous correspond</h2>
        </div>

        <div class="content__filtres">
            <div class="filtres__accueil">
                <select name="typeTransaction" id="typeTransaction" class="accueil__filtre">
                    <option value="vente">Vente</option>
                    <option value="location">Location</option>
                </select>
                <select name="typeBien" id="typeBien" class="accueil__filtre">
                    <option value="maison">Maison</option>
                    <option value="appartement">Appartement</option>
                    <option value="studio">Studio</option>
                    <option value="bureau">Bureau</option>
                    <option value="commerce">Commerce</option>
                    <option value="terrain">Terrain</option>
                </select>
            </div>
            <div class="barreRecherche">
                <input type="search" placeholder="Recherche..." name="recherche" class="recherche">
                <button class="recherchebtn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
</section>
<section class="annoncesRécentes">
    <div class="container__cartes" *ngFor="let bien of biens">
        <div class="carte">
            <div class="carte__img">
                <img src="/pexels-pixasquare-1115804.jpg" alt="image du bien" class="img__bien">
                <div class="type__bien">
                    {{bien.typeDeBien}}
                </div>
            </div>
            <div class="carte__info">
                <p>{{bien.nom}}</p>
                <div class="info__details">
                    <p>
                        <img src="/bed.png" alt="bedIcon">
                        {{ bien.nbChambre }}
                    </p>
                    <p>
                        <img src="/arrows.png" alt="arrows pointing out">
                        {{ bien.surface }}
                    </p>
                </div>
                <p>{{ bien.prix }}€</p>
            </div>
        </div>
    </div>
</section>
